<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <article class="post {{ .Site.Language.LanguageName }}" id="article">
    <div class="row">
      <div class="col-xs-12">
        <div class="site-header">
          {{ partial "header.html" . }}
        </div>

        <div id="categories-cloud" class="post-content markdown-body">
          {{ range .Data.Terms.Alphabetical | shuffle }}
            <a href="{{.Page.Permalink}}">{{.Page.Title}} <i>({{ .Count }})</i></a>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
  {{ if .Site.Params.extraBody }}
  {{ .Site.Params.extraBody | safeHTML }}
  {{ end }}

</body>

</html>